<header>
  <div class="header-logo">
    <a href="/tasks">TopPage</a>
  </div>
  <!-- <ul class="header-menus">
    <li>
      <a href="/about">TweetAppとは</a>
    </li>
  </ul> -->
</header>

     <!-- 投稿一覧を表示 -->
  	<% @tasks.each do |task| %>
    <%end%>
    